nav {
    background-color: rgb(75, 80, 132);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;
    font-size: 22px;
    font-weight: 600;
}

nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    font-size: 15px;
    padding-right: 20px;
    font-weight: 400;
}